/* adding persian font */
@font-face {
    font-family: Shabnam1;
    src: url('../fonts/Shabnam.eot');
    src: url('../fonts/Shabnam.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Shabnam.woff2') format('woff2'),
         url('../fonts/Shabnam.woff') format('woff'),
         url('../fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: Shabnam3;
    src: url('../fonts/Shabnam-Light.eot');
    src: url('../fonts/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Shabnam-Light.woff2') format('woff2'),
         url('../fonts/Shabnam-Light.woff') format('woff'),
         url('../fonts/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
  }
  
  .post-titr {
      font-family:Shabnam1;
      display:block;
      
  }
  .grid-container {
    display: grid;
    grid-template-columns: 65% 30% 3%;
    grid-template-rows: 60px ;
    background-color: #fff;
    padding: 0px;
  }
  /*grid  container 2*/
  .grid-container2 {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 300px;
    margin-top: 0px;
    padding: 0px;
    background-image: url("../../assets/background1.JPG");
    background-repeat: no-repeat;
   /* background-image: linear-gradient(red, yellow);*/
  }
  .grid-container3{
    display: grid;
    grid-template-columns: 5%  20% 20% 20% 5%;
    grid-template-rows: 250px;
    margin: -80px 0px;
    padding: 0px;
    column-gap: 100px;
    text-align: right;
  
  }
  .grid-container4{
    display: grid;
    grid-template-columns: 5% 20% 20% 20% 5%;
    grid-template-rows:80px  350px;
    margin: 120px 0px;
    padding: 0px;
    column-gap: 100px;
    row-gap: 20px;
    text-align: center;
  
  }
  .grid-container5{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:100px  80px  80px 50px 50px;
    margin: 0px 0px;
    padding: 0px;
    column-gap: 100px;
    row-gap: 10px;
    text-align: center;
    color:black;
  }
  .grid-container6{
    display: grid;
    grid-template-columns:600px 100px 100px 100px 100px;
    grid-template-rows:100px 20px 100px 20px 100px 20px 100px 20px 100px;
    margin: 0px 0px;
    padding: 0px;
    column-gap: 50px;
    row-gap: 15px;
    text-align: center;
    color:black;
    background-image: url("../../assets/background2.JPG");
    background-repeat: no-repeat;
  
  }
  .grid-container7{
    display: grid;
    grid-template-columns:10% 16% 16% 16% 16% 10%;
    grid-template-rows:100px 100px ;
    margin: 60px 0px;
    padding: 0px;
    column-gap: 40px;
    text-align:right;
    color:black;
  }
  .grid-container8{
    display: grid;
    grid-template-columns: 170px 170px 170px 170px 370px ;
    grid-template-rows:100px;
    margin: 0px 0px;
    margin-left:0px;
    padding: 40px;
    column-gap: 20px;
    text-align:right;
    color:white;
  }
  .grid-container9{
    display: grid;
    grid-template-columns: 20% 20% 40% 10%;
    grid-template-rows:500px;
    margin: 300px 0px;
    margin-left:0px;
    padding: 0px;
    column-gap: 0px;
    text-align:right;
    color:black;
  }
  
  .grid-container10{
    display: grid;
    grid-template-columns: 20% 10% 10% 50%;
    grid-template-rows:50px 100px 100px 50px 50px;
    margin: -150px -500px;
    padding: 40px;
    column-gap: 20px;
    row-gap:10px;
    padding:0px 0px;
    text-align:center;
    color:black;
  }
  .grid-container11{
    display: grid;
    grid-template-columns: 97%;
    grid-template-rows: 2px ;
    background-color: #fff;
    padding: 0px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0px;
    font-size: 30px;
    text-align: center;
  }
  .item-a {
    grid-column: 2/ 3;
    grid-row: 1 / 2;
  }
  .item-b {
    grid-column: 1/5;
  }
  .item-c {
    grid-column: 3 /4;
    grid-row: 1/ 2;
  }
  .padding10
  {
      padding-right: 40px;	
  }
  /* navigator part*/
  .nav {
    list-style-type: none;
    margin: 5;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
  }
  .nav  li{
  display: inline;
  margin-left: 5px;
  padding-left: 5px;
  }
  .nav li:first-child {  border-left: solid 2px black; }
  
  li :hover {
    color: rgb(197, 0, 114);
  }

  /*color line*/
  #grad1 {
    margin-top:0px;
    height: 3px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgba(251, 6, 26) , rgba(140, 0, 174)); /* Standard syntax (must be last) */
  }
  /*Drop downs*/
  /*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  .dropbtn {
    float: right;
    width: 120px;
    height:70px;
    background: #fff;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
    margin: -7px -100px;
    border-radius: 8px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 70px -60px;
    z-index: 0;
    height: 100px;
     overflow: auto;
   
  }
  
  .dropdown-content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #fff;
    left:0;
  }
  
  /*////////////////////////////////////////////////////////icon//////////////////////////////////////////*/
  .mainLoginInput{
    height: 40px;
    padding: 0px;
    font-size: 30px;
    margin: 5px 0;
  }
  
  .fa-utensils
  {
     background: linear-gradient(to right, rgba(251, 6, 26) , rgba(140, 0, 174));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
  }
  .fa-heart{
      margin:0px -65px;
      background: linear-gradient(45deg, rgba(251, 6, 26) , rgba(140, 0, 174));
       -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .food{
      margin:-10px -65px;
      background: linear-gradient(45deg, rgba(251, 6, 26) , rgba(140, 0, 174));
       -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .fa-map-marker-alt{
      margin:-20px -75px;
      
  }
  .colorm{
      background: linear-gradient(45deg, rgba(251, 6, 26) , rgba(140, 0, 174));
       -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .smallsize{
      font-size:12px;
  }
  .fa-circle{
      font-size:5px;
      margin-bottom:5px;
      margin-left:5px;
      margin-top:-2px;
  }
  .item-grid2-a{
    grid-column: 2/ 3;
    grid-row: 2 / 3;
    justify-self: center;
  }
  .item-grid2-b{
    grid-column: 2/ 3;
    grid-row: 4/ 5;
    justify-self: center;
     z-index: 1;
  }
  .item-grid2-c{
    grid-column: 2/ 3;
    grid-row: 5 / 6;
    justify-self: center;
    color: rgb(123, 123, 119);
  }
  .item-grid2-d{
    grid-column: 2/3;
    grid-row: 6/7 ;
    justify-self: center;
    
  }
  .example{
       justify-self: center;
  }
  .item-grid3-a{
    grid-column: 2/3;
    justify-self: center;
    
  }
  .item-grid3-b{
    grid-column: 3/4;
    justify-self: center;
    
  }
  .item-grid3-c{
    grid-column: 4/5;
    justify-self: center;
    
  }
  .header{
       grid-column: 2/5;
       grid-row: 1/2;
      justify-self: center;
  }
  .item-grid4-a{
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    
  }
  .item-grid4-b{
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
    
  }
  .item-grid4-c{
    grid-column: 4/5;
    grid-row: 2/3;
    justify-self: center;
    
  }
  .item-grid4-d{
    grid-column: 4/5;
    grid-row: 2/3;
    justify-self: center;
    
  }
  .item-grid5-a{
    grid-row: 1/2;
    justify-self: center;
    
  }
  .item-grid5-b{
    grid-row: 2/3;
    justify-self: center;
    
  }
  .item-grid5-c{
    grid-row:3/4;
    justify-self: center;
    
  }
  .item-grid5-d{
    grid-row:4/5;
    justify-self: center;
    
  }
  .item-grid6-aa{
      
    grid-row:1/3;
    grid-column:3/7;
    justify-self: center;
      
  }
  .item-grid6-ab{
    grid-row:3/4;
    grid-column:2/3;
    justify-self: center;
  }
  .item-grid6-ac{
    grid-row:3/4;
    grid-column:3/4;
    justify-self: center;
  }
  .item-grid6-ad{
    grid-row:3/4;
    grid-column:4/5;
    justify-self: center;
  }
  .item-grid6-ae{
    grid-row:3/4;
    grid-column:5/6;
    justify-self: center;
  }
  .item-grid6-bb{
    grid-row:5/6;
    grid-column:2/3;
    justify-self: center;
  }
  .item-grid6-bc{
    grid-row:5/6;
    grid-column:3/4;
    justify-self: center;
  }
  .item-grid6-bd{
    grid-row:5/6;
    grid-column:4/5;
    justify-self: center;
  }
  .item-grid6-be{
    grid-row:5/6;
    grid-column:5/6;
    justify-self: center;
  }
  .item-grid6-cb{
    grid-row:7/8;
    grid-column:2/3;
    justify-self: center;
  }
  .item-grid6-cc{
    grid-row:7/8;
    grid-column:3/4;
    justify-self: center;
  }
  .item-grid6-cd{
    grid-row:7/8;
    grid-column:4/5;
    justify-self: center;
  }
  .item-grid6-ce{
    grid-row:7/8;
    grid-column:5/6;
    justify-self: center;
  }
  .item-grid6-db{
    grid-row:2/3;
    grid-column:2/3;
    justify-self: center;
  }
  .item-grid6-dc{
    grid-row:2/3;
    grid-column:3/4;
    justify-self: center;
  }
  .item-grid6-dd{
    grid-row:2/3;
    grid-column:4/5;
    justify-self: center;
  }
  .item-grid6-de{
    grid-row:2/3;
    grid-column:5/6;
    justify-self: center;
  }
  .item-grid6-eb{
    grid-row:4/5;
    grid-column:2/3;
    justify-self: center;
    margin-top:-40px;
  }
  .item-grid6-ec{
    grid-row:4/5;
    grid-column:3/4;
    justify-self: center;
    margin-top:-40px;
  }
  .item-grid6-ed{
    grid-row:4/5;
    grid-column:4/5;
    justify-self: center;
    margin-top:-40px;
  }
  .item-grid6-ee{
    grid-row:4/5;
    grid-column:5/6;
    justify-self: center;
     margin-top:-40px;
  }
  .item-grid6-fb{
    grid-row:6/7;
    grid-column:2/3;
    justify-self: center;
    margin-top:-40px;
  }
  .item-grid6-fc{
    grid-row:6/7;
    grid-column:3/4;
    justify-self: center;
    margin-top:-40px;
  }
  .item-grid6-fd{
    grid-row:6/7;
    grid-column:4/5;
    justify-self: center;
    margin-top:-40px;
  }
  .item-grid6-fe{
    grid-row:6/7;
    grid-column:5/6;
    justify-self: center;
    margin-top:-40px;
  
  }
  .item-grid6-gb{
    grid-row:8/9;
    grid-column:2/3;
    justify-self: center;
    margin-top:-40px;
  }
  .item-grid6-gc{
    grid-row:8/9;
    grid-column:3/4;
    justify-self: center;
    margin-top:-40px;
  }
  .item-grid6-gd{
    grid-row:8/9;
    grid-column:4/5;
    justify-self: center;
    margin-top:-40px;
  }
  .item-grid6-ge{
    grid-row:8/9;
    grid-column:5/6;
    justify-self: center;
    margin-top:-40px;
  }
  .item-grid7-a{
    grid-row:1/3;
    grid-column:2/3;
    justify-self: center;
  
  
  }
  .item-grid7-e{
    grid-row:2/3;
    grid-column:2/3;
    margin:70px 0px;
    left:0;
  
  
  }
  .item-grid7-b{
    grid-row:1/2;
    grid-column:3/4;
    justify-self: center;
  }
  .item-grid7-c{
    grid-row:1/2;
    grid-column:4/5;
    justify-self: center;
  }
  .item-grid8-a{
    grid-row:1/2;
    grid-column:4/5;
    justify-self: center;
  }
  .item-grid8-b{
    grid-row:1/2;
    grid-column:3/4;
    justify-self: center;
  }
  .item-grid8-c{
    grid-row:1/2;
    grid-column:2/3;
    justify-self: center;
  }
  .item-grid8-d{
    grid-row:1/2;
    grid-column:1/2;
    justify-self: center;
  }
  .item-grid9-a{
    grid-column:2/4;
    justify-self: center;
  }
  .item-grid9-b{
    grid-column:1/4;
    justify-self: left;
  }
  .item-grid9-c{
    grid-column:4/5;
    justify-self: left;
    margin:-400px 0px;
   
  }
  .item-grid10-a{
    grid-column:1/2;
    justify-self: left;
    margin:-300px -300px;
   
  }
  .item-grid10-b{
    grid-column:4/5;
    justify-self: right;
   
  }
  .item-grid10-c{
    grid-column:4/5;
    grid-row:2/3;
    justify-self: right;
   
  }
  .item-grid10-d{
    grid-column:3/5;
    grid-row:3/4;
    justify-self: right;
   
  }
  .item-grid10-e{
    grid-column:4/5;
    grid-row:4/5;
    justify-self:right;
    
  }
  .item-grid10-f{
    grid-column:3/4;
    grid-row:4/5;
    justify-self:left;
    
  }
  .item-grid10-g{
    grid-column:4/5;
    grid-row:5/6;
    justify-self:right;
    
  }
  .white-box { width: 780px; height: 50px; margin-left: 0; margin-right: 0;   
   
  background: rgba(255,255,255,0.9);
  padding:30px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 8px;
  
  }
  .white-box2 { width: 270px; height: 20%; margin-left: 0; margin-right: 0px;   
   
  background: rgba(250,255,255,.9);
  padding:30px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 8px;
  margin: 10px 0px;
  
  }
  .white-box3 { width: 250px; height: 90%; margin-left: 0; margin-right: 0px;   
   
  background: rgba(250,255,255,.9);
  padding:30px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 8px;
  margin: 10px 0px;
  
  }
  .white-box4 { width: 15%; height: 20%; margin-left: 0; margin-right: 0px;   
   
  background: rgba(250,255,255,.9);
  padding: 35px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 8px;
  margin: 0px 0px;
  z-index:1;
  box-shadow:  0 0 25px rgb(215, 215, 215);
  justify-self:center;
  text-align:center;
  
  }
  .white-box4g { width: 60%; height: 85%; margin-left: 0; margin-right: 0px;   
   
  
  background: rgba(250,255,255,.9);
  padding: 0px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 8px;
  margin: 0px 0px;
  z-index:1;
  box-shadow:  0 0 25px rgb(215, 215, 215);
  justify-self:center;
  text-align:center;
  
  }
  .white-box5 { width: 2.5%; height: 2.5%; margin-left: 0; margin-right: 0px;   
   
  background: rgba(250,255,255,.9);
  padding: 35px;
  border:solid 1px rgb(123, 126, 134);
  margin: 0px 0px;
  z-index:1;
  justify-self:center;
  text-align:center;
  
  }
  .white-box6 { width:50px ; height: 2px; margin-left: 0; margin-right: 0px;   
    background-repeat: no-repeat;
  padding: 15px 33px;
  border:solid 1px rgb(123, 126, 134);
  margin: 0px 0px;
  z-index:1;
  justify-self:center;
  border-radius: 3px;
  
  }
  .white-box7 { width:50px ; height: 2px; margin-left: 0px; margin-right: 0px;   
  padding: 250px 470px;
  background: rgba(250,255,255,.9);
  margin: 0px 0px;
  z-index:1;
  justify-self:center;
  border-radius: 0px;
  
  
  }
  .white-box8 { 
    width:100px ; height: 18px; margin-left:0px; margin-right: 10px;   
    background-repeat: no-repeat;
  padding: 15px 80px;
  z-index:1;
  border-radius: 3px;
  
  }
  .input1 {
     height: 66px;
    font-size: 17px;
    padding :1px 38px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
    margin: -8px 25px;
    border-radius: 0px 8px 8px 0px;
    text-align:right;
   
  }
  .background{
      background: rgba(250,255,255,0);
  }
  .submit{
    float: left;
    width: 70px;
    height: 70px;
    background: linear-gradient(45deg, rgba(251, 6, 26) , rgba(140, 0, 174));
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin: -8px -25px;
    border-radius: 8px 0px 0px 8px;
    
  }
  /*///////////////////////////////////////////////HOVERING!!!!!!!!!!!//////////////////////////////////////*/
  div .white-box3:hover{
       box-shadow:  0 0 25px rgb(215, 215, 215);
       
       
  }
  .buttonf:hover{
       box-shadow:  0 0 25px rgb(215, 215, 215);
  }
  div.white-box5:hover{
       box-shadow:  0 0 25px rgb(200, 200, 200);
       
       
  }
  div.white-box8:hover{
       box-shadow:  0 0 12px rgb(200, 200, 200);
       
       
  }
  
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /*/////////////////////////////////////////COLOR//////////////////////////////////////////////////////////*/
  .gray{
      color:rgb(123, 126, 134);
  }
  .sgray{
      color:rgb(155, 155, 157);
  }
  .yellow{
      color:rgb(249, 185, 57);
  }
  .gradientgray{
      
      background: linear-gradient(to left, rgb(123, 126, 134) , rgba(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .white{
      color:white;
  }
  .blue{
      color:rgb(71, 144, 228);
  }
  /*/////////////////////////////////////////Circle IMAGE/////////////////////////////////////////////////*/
  .circleimage{
       margin-left:10px;
       border-radius: 50%;
       float:right;
  }
  
  /*//////////////////////////////////////////////////POSITION///////////////////////////////////////////*/
  .position{
      margin: -15px 0;
  }
  .margin{
      margin: 0px 0;
  }
  
  /*//////////////////////////////////////////////////CHECKED///////////////////////////////////////////*/
  .checked {
    color: orange;
  }
  /*/////////////////////////////////////////////////MARGIN//////////////////////////////////////////////*/
  .marginbest
  {
      margin: -30px -35px;
  }
  .bestfast{
       font-weight: bold;
       font-size: 105%;
       
  }
  .margintop{
      margin:15px 0px;
  }
  .margindoubletop{
      margin:30px 0px;
  }
  .margin{
      margin:5px;
  }
  .margintop8{
      margin-top:8px;
  }
  .margintop10{
      margin-top:10px;
  }
  .margintop5{
      margin-top:5px;
  }
  .margintop5{
      margin-top:5px;
  }
  .right{
      text-align:right;
  }
  .margin0{
      margin:0px 0px;
  }
  .goodmargin{
      margin:80px 140px;
  }
  .margingoodfood{	
      margin-top:-35px;
      margin-left:-35px;
  }
  .margintopm{
      margin-top:-25px;
  }
  .marginnp{
      margin-left:250px;
  }
  .marginnb{
      margin-left:510px;
  }
  .marginns{
      margin-left:770px;
  }
  .marginlst{
  margin-top:25px;
  }
  .margin150{
      margin-top:-110px;
  }
  .marginl20{
      margin-left:20px;
  }
  .marginl70{
      margin-left:70px;
  }
  .alignr{
      float:right;
  }
  .alignf{
      float:left;
  }
  /*//////////////////////////////////////////////FONT SIZE/////////////////////////////////////////////*/
  .size{
      font-size: 19px;
  }
  .inline{
      display:inline;
  }
  .goodfood{
      font-weight: bold;
      font-size: 120%;
      
  }
  .fontgood{
      font-size: 12px;
  }
  .center{
      text-align:center;
  }
  .fontmiddle{
      font-size: 160%;
  }
  
  .fontfood{
      font-size: 140%;
      font-weight: bold;
  }
  .fontactive{
      font-size: 80%;
  }
  .opacity{
       color: rgba(0, 0, 0, 0.5);
  }
  .fontmore{
      font-weight: bold;
      font-size: 12px;
  }
  .fontin2{
      font-weight: bold;
      font-size: 8px;
  }
  .fontadd{
      font-size:12px;
  }
  .fontcontact{
      font-weight: bold;
      font-size:16px;
  }
  .fontsms{
      font-weight: bold;
      font-size:150%;
  }
  .fontic{
      font-size:25px;
  }
  .fontins{
      font-weight: bold;
      font-size:17px;
  }
  .fontchoose{
      font-size:14px;
  }
  /*////////////////////////////////////////////////START DELIVERY BUTTON!!!!!!/////////////////////////////////////*/
  .btn {
    background-color: transparen; /* Green */
    border: 2px solid rgb(217, 32, 118);
    color:  rgb(217, 32, 118);
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
     border-radius: 40px;
  }
  /*///////////////////////////////////////////////////TRY......................../////////////////////////////*/
  .bottom-left {
    position: absolute;
    bottom:-1920px;
    left: 200px;
  }
  .bottom-lefts {
    position: absolute;
    bottom:-1920px;
    left: 920px;
  }
  .bottom-leftb {
    position: absolute;
    bottom:-1920px;
    left: 670px;
  }
  
  .bottom-leftp {
    position: absolute;
    bottom:-1920px;
    left: 430px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .transition{
  
    transition: all 0.7s ease;
      
  }
  
  .margin-transition:hover{
   bottom:-1915px;  
  }
  /*//////////////////////////////////////////////////////BUTTON FOOOD////////////////////////////////////////////*/
  .buttonf{
    background-color: #fff;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left:20px;
    border-radius: 40px;
  }
  /*///////////////////////////////////////////////////////FOOTER////////////////////////////////////////*/
  .footer {
    background-color: rgb(32, 32, 32);
    padding: 130px;
    margin-top:50px;
    text-align: right;
    color: white;
  }
  .footer2 {
    background-color: rgb(25, 25, 25);
    padding: 10px;
    margin-top:0px;
    text-align: right;
    color: white;
  }
  .simple{
       list-style-type: none;
  }
  .linep{
    margin-top:0px;
    height:3px;
    width:150px;
    background-color: rgb(139, 0, 175); /* For browsers that do not support gradients */
    margin-top:-155px;
  }
  .liner
  {
    margin-top:0px;
    height:3px;
    width:150px;
    background-color: rgb(212, 0, 98); /* For browsers that do not support gradients */
    margin-top:-155px;
  }
  .linerr
  {
    margin-top:0px;
    height:3px;
    width:150px;
    background-color:rgb(255, 6, 19); /* For browsers that do not support gradients */
    margin-top:-155px;
  }
  .liney
  {
    margin-top:0px;
    height:3px;
    width:150px;
    background-color:rgb(255, 195, 0); /* For browsers that do not support gradients */
    margin-top:-155px;
  }
  .rounb{
       border-color: coral;
  }
  .backgoogle{
       
  background-image: url("../../assets/googleplay.JPG");
  }
  .backreyhoon{
      background-image: url("../../assets/getreyhoon.JPG");
  }
  .backbazar{
      background-image: url("../../assets/getbazar.JPG");
  }
  .inline{
      display:inline;
  }
  .left{
      text-align: left;
  }
  .in2{
       width: 250px;
       border: 2px solid rgb(201, 201, 201);
       height: 45px;
       border-radius: 0px 20px  20px 0px;
  }
  .sumbit2{
    float: left;
    width: 250px;
    height: 50px;
    background: linear-gradient(45deg, rgba(251, 6, 26) , rgba(140, 0, 174));
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin: 0px 0px;
    border-radius: 30px 0px 0px 30px;
  }
  .backgooglew{
      background-image: url("../../assets/google-play-light.png");
  }
  .bazarw{
      background-image: url("../../assets/bazarw.JPG");
  }
  .applew{
      background-image: url("../../assets/applew.JPG");
  }
  .androidw{
      background-image: url("../../assets/androidw.JPG");
  }
  
  .inputwithicon{
      padding-left:0px;
  }
  .inputwithicon{
      position:relative;
  
  }
  .inputwithicon i{
      position:absolute;
      left : 710px;
      top: 20px;
      padding :9px 0px;
  }
  .sizep{
       max-width:40%;
      height:auto;
      align:center;
      margin-top:-5px;
  
  }