

<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class = "grid-container2">
<div></div>
<div class = "item-grid2-a"><i class="fas fa-utensils fa-4x"></i></div>
<div></div>
<div></div>
<div class = "item-grid2-b"><h1> سفارش آنلاین غذا از بهترین رستوران ها و فست فودها </h1></div>
<div class = "item-grid2-c"><h4> برای دیدن لیست رستوران ها و فست فودهایی که به شما سرویس می دهند منطقه خود را وارد کنید</h4>
</div>
<div class = "item-grid2-d">
  <div class="white-box ">
  <form class="example" >
  <a class="submit"  onclick = "ch()"><i class="fa fa-search fa-2x"></i></a>
  <div class = "inputwithicon">
  <input class = "input1" type="text" placeholder="منطقه خود را وارد کنید مثلا نیاوران" name="search">
  <i class="fas fa-map-marker-alt fa-2x gray"></i>
  </div>
  <div class="dropdown">
  <button class="dropbtn"> تهران  <i class="fa fa-chevron-down"></i></button>
  <div class="dropdown-content">
  <a href="#">شیراز</a>
  <a href="#">تهران</a>
  <a href="#">مشهد</a>
  <a href="#">مشهد</a>
  <a href="#">مشهد</a>
  <a href="#">مشهد</a>
  <a href="#">مشهد</a>
  <a href="#">مشهد</a>
  </div>
  </div>
  </form>
  </div>
</div>
</div>
<div class = "grid-container3">
  <div></div>
  <div class = "item-grid3-a" >
  <div class = "gray">غذایتان را نوش جان کنید</div>
  <div class = "white-box2 sgray">
  <img class = "circleimage" src="../assets/bagpic2.JPG" alt="buypacket">
  <div class = "fontchoose">
  درب منزل یا حضوری از خود رستوران سفارشتان را تحویل بگیرید
  </div>
  <i class="fa fa-heart fa-2x"></i>       
  <span>
  
  </span>
  </div>
  </div>
  <div class = "item-grid3-b" >
  <div class = "gray ">غذای خود را انتخاب کنید</div>
  <div class = "white-box2 sgray">
  <img class = "circleimage" src="../../assets/kababpic.png" alt="buypacket">
  <span class = "fontchoose">
  غذایی که می‌خواهید را انتخاب کنید و بدون
   هزینه اضافی سفارش خود را ثبت کنید
  </span>
   <div>
      <i class="fas fa-utensils fa-2x food"></i>
  </div>
  </div>
  </div><div class = "item-grid3-c" >
  <div class = "gray">شهر و منطقه خود را وارد کنید</div>
  <div class = "white-box2 sgray">
  <img class = "circleimage" src="../../assets/tehran1.png" alt="buypacket">
  <span class = "fontchoose">
  منوی مورد علاقه خود را از بین بیش از 4000 رستوران خوب در تهران و شهرستان‌ها جستجو کنید
  </span>
  <div>
  <i class="fas fa-map-marker-alt fa-2x food"></i>
  </div>
  </div>
  </div>
  </div>
  <div class = "grid-container4">
      <h1 class = "header">رستوران‌‌ها و فست فود‌های برتر ماه بر اساس امتیاز‌دهی کاربران</h1>
      <div class = "item-grid4-a white-box3">
          <div class = "grid-container5">
              <div class = "item-grid5-a">
              <div class = "white-box4"><img class = "marginbest" id = "pic3" src="../../assets/andarzgo.JPG" alt="buypacket"></div>
              </div>
              <div class = "item-grid5-b">
                  <div class = "bestfast" id = "bestfast3">باگت
                  (
                  اندرزگو
                  )
                  </div>
                  <div class = "margintop">
                      <span class = "gray" id = "numrate3">
                      (95)
                      </span>
                      <span id = "star31" class="fa fa-star  smallsize yellow"></span>
                      <span id = "star32" class="fa fa-star  smallsize yellow"></span>
                      <span id = "star33" class="fa fa-star  smallsize gray"></span>
                      <span id = "star34" class="fa fa-star  smallsize gray"></span>
                      <span id = "star35" class="fa fa-star  smallsize gray"></span>
                      <span class = "yellow" id = "yellowrate3">
                      3.5
                      </span>
                      </div>
                      </div>
                      <div class = "item-grid5-c">
                          <div>
                          <span id = "food13">
                          فست فود
                          </span>
                          <span><i class="fas fa-circle"></i></span>
                          <span id = "food23">
                          برگر
                          </span>
                          <span><i class="fas fa-circle"></i></span>
                          <span id = "food33">
                          پیتزا
                          </span>
                          <span><i class="fas fa-circle"></i></span>
                          <span id = "food43">
                          ساندویچ
                          </span>
                          </div>
                          <div class = "right margintop8 gray fontadd">
                          <span id = "add3">
                            اندرزگو بین کاوه و قیطریه نبش مهر
                          </span>
                          <span class = "gradientgray" id = "addgray3">
                          محمدی جن
                          </span>
                          </div>
                          </div>
                          <div>
                              <div class="btn" href="#">
                                <span>
                                شروع سفارش
                                </span>
                              </div>
                          </div>
                    </div>
      </div>
      <div class = "item-grid4-b white-box3">
          <div class = "grid-container5">
          <div class = "item-grid5-a">
          <div class = "white-box4"><img class = "marginbest" id = "pic2" src="../../assets/shila.JPG" alt="buypacket"></div>
          </div>
          <div class = "item-grid5-b">
              <div class = "bestfast" id = "bestfast2">شیلا
              (
              مطهری
              )
              </div>
              <div class = "margintop">
              <span class = "gray" id = "numrate2">
              (54)
              </span>
              <span id = "star21" class="fa fa-star gray smallsize"></span>
              <span id = "star22"  class="fa fa-star gray smallsize"></span>
              <span id = "star23" class="fa fa-star gray smallsize"></span>
              <span id = "star24" class="fa fa-star gray smallsize"></span>
              <span id = "star25" class="fa fa-star smallsize gray"></span>
              <span class = "yellow" id = "yellowrate2">
              3.5
              </span>
              </div>
              </div>
              <div class = "item-grid5-c">
                  <div>
                  <span id = "food12">
                  فست فود
                  </span>
                  <span><i class="fas fa-circle"></i></span>
                  <span id = "food22">
                  هات داگ
                  </span>
                  <span><i class="fas fa-circle"></i></span>
                  <span id = "food32">
                  پیتزا
                  </span>
                  <span><i class="fas fa-circle"></i></span>
                  <span id = "food42">
                  برگر
                  </span>
                  </div>
                  <div class = "right margintop8 gray fontadd">
                  <span id = "add2">
                    ولیعصر مطهری فتحی شقاقی زیر برج
                  </span>
                  <span class = "gradientgray" id = "addgray2">
                  بلورین
                  </span>
                  </div>
                  </div>
                  <div>
                      <div class="btn" href="#">
                        <span>
                        شروع سفارش
                        </span>
                      </div>
                    </div>
          </div>
          </div>
          <div class = "item-grid4-c white-box3">
              <div class = "grid-container5 center">
              <div class = "item-grid5-a">
              <div class = "white-box4" >
              <img class = "marginbest" id = "pic1" src = "../../assets/hot.JPG" alt="buypacket"></div>
              </div>
              <div class = "item-grid5-b">
                  <div class = "bestfast" id = "bestfast1">
                  </div>
                  <div class = "margintop">
                      <span class = "gray" id = "numrate1">
                      
                      </span>
                      <span id = "star11" class="fa fa-star gray smallsize"></span>
                      <span id = "star12" class="fa fa-star gray smallsize"></span>
                      <span id = "star13" class="fa fa-star gray smallsize"></span>
                      <span id = "star14" class="fa  fa-star  smallsize gray"></span>
                      <span id = "star15" class="fa fa-star smallsize gray"></span>
                      <span class = "yellow" id = "yellowrate1">
                      3.5
                      </span>
                      </div>
                      </div>
                      <div class = "item-grid5-c">
                          <div>
                          <span id = "food11">
                          پیتزا
                          </span>
                          <span><i class="fas fa-circle"></i></span>
                          <span id = "food21">
                          فست فود
                          </span>
                          <span><i class="fas fa-circle"></i></span>
                          <span id = "food31">
                          ساندویچ
                          </span>
                          <span><i class="fas fa-circle"></i></span>
                          <span id = "food41">
                          برگر
                          </span>
                          </div>
                          <div class = "right margintop8 gray fontadd">
                          <span  id = "add1">
                           سعادت آباد پاساژ میلاد نور طبقه
                          </span>
                          <span class = "gradientgray" id = "addgray1">همکف</span>
                          </div>
                          </div>
                          <div>
                              <div class="btn" href="#">
                                <span>
                                شروع سفارش
                                </span>
                              </div>
                              </div>
              </div>
              </div>
      </div>
      <div class = "grid-container6">
          <div class = "item-grid6-aa goodfood goodmargin">رستوران‌های خوب تهران در ریحون</div>
          <div class = "item-grid6-ab white-box5"><img class ="margingoodfood" id = "pic7"  src="../../assets/amoli.JPG" alt="buypacket"></div>
          <div class = "item-grid6-eb fontgood gray" ><h3 id = "name7">آمولای</h3></div>
          <div class = "item-grid6-ac white-box5"><img class ="margingoodfood" id = "pic6" src="../../assets/rad.JPG" alt="buypacket"></div>
          <div class = "item-grid6-ec fontgood gray"><h3 id = "name6" >تهیه غذای راد</h3></div>
          <div class = "item-grid6-ad white-box5"><img class ="margingoodfood" id = "pic5" src="../../assets/shandiz.JPG" alt="buypacket"></div>
          <div class = "item-grid6-ed fontgood gray"><h3 id = "name5">شاندیز جردن</h3></div>
          <div class = "item-grid6-ae white-box5"><img class ="margingoodfood"  id = "pic4" src="../../assets/vitrin.JPG" alt="buypacket"></div>
          <div class = "item-grid6-ee fontgood gray"><h3 id = "name4">ویترین</h3></div>
          <div class = "item-grid6-bb white-box5"><img class ="margingoodfood" id = "pic11"  src="../../assets/kobaba.JPG" alt="buypacket"></div>
          <div class = "item-grid6-fb fontgood gray"><h3 id = "name11">رستوران کوبابا</h3></div>
          <div class = "item-grid6-bc white-box5"><img class ="margingoodfood"  id = "pic10" src="../../assets/grill.JPG" alt="buypacket"></div>
          <div class = "item-grid6-fc fontgood gray"><h3 id = "name10">جو گریل فود</h3></div>
          <div class = "item-grid6-bd white-box5"><img class ="margingoodfood"  id = "pic9" src="../../assets/lanjin.JPG" alt="buypacket"></div>
          <div class = "item-grid6-fd fontgood gray"><h3 id = "name9">لانجین</h3></div>
          <div class = "item-grid6-be white-box5"><img class ="margingoodfood"  id = "pic8" src="../../assets/genaro.JPG" alt="buypacket"></div>
          <div class = "item-grid6-fe fontgood gray"><h3 id = "name8">جنارو</h3></div>
          <div class = "item-grid6-cb white-box5"><img class ="margingoodfood" id =  "pic15"  src="../../assets/shirinpolo.JPG" alt="buypacket"></div>
          <div class = "item-grid6-gb fontgood gray"><h3 id = "name15">شیرین پلو</h3></div>
          <div class = "item-grid6-cc white-box5"><img class ="margingoodfood" id = "pic14"  src="../../assets/amirchoclate.JPG" alt="buypacket"></div>
          <div class = "item-grid6-gc fontgood gray"><h3 id = "name14">امیر شکلات</h3></div>
          <div class = "item-grid6-cd white-box5"><img class ="margingoodfood" id =  "pic13" src="../../assets/narije.JPG" alt="buypacket"></div>
          <div class = "item-grid6-gd fontgood gray"><h3 id = "name13">کترینگ و تشریفات ناریجه</h3></div>
          <div class = "item-grid6-ce white-box5"><img class ="margingoodfood" id = "pic12"  src="../../assets/tomo.JPG" alt="buypacket"></div>
          <div class = "item-grid6-ge fontgood gray"><h3 id = "name12">تومو</h3></div>
          </div>
          <div><h1 class = "center">غذا چی میل دارید؟</h1></div>
          <div class = "center fontmiddle">صبحانه، ناهار، شام یا هر چیزی که میل دارید را انتخاب کنید</div>
          <div class = "grid-container7">
              <div></div>
              <div class = "item-grid7-a"><img  id = "img4" class ="margingoodfood" src="../../assets/kebab21.jpg" alt="buypacket">
                <span class ="bottom-left fontfood white transition margin-transition">
                    <span id = "f4">
                    کباب
                    </span>
                    <br/>
<div class = "fontactive">
<span class = "opacity">
<!-----------------------------Check HERE--------------------------------------------------->
ر
</span>
 رستوران فعال
 <span id = "active4">
 1838 
 </span>
 </div>
 </span>
 
              </div>
              <div class = "item-grid7-b"><img id = "img3" class ="margingoodfood"  src="../../assets/pizza21.jpg" alt="buypacket">
                <span class ="bottom-leftp fontfood white transition margin-transition">
                <div>
                <span id = "f3">
                پیتزا
                </span>
                <br/>
                <div class = "fontactive">
                <span class = "opacity">
                <!-----------------------------Check HERE--------------------------------------------------->
                ر
                </span>
                  رستوران فعال
                  <span id = "active3">
                  2408
                  </span>
                  </div>
                 </div>
                </span>
                 </div>
                 <div class = "item-grid7-c"><img id = "img2" class ="margingoodfood"  src="../../assets/sandwich21.jpg" alt="buypacket">
                  <span class ="bottom-leftb fontfood white transition margin-transition">
                  <div>
                  <span id = "f2">
                  برگر
                  </span>
                  <br/>
                  <div class = "fontactive">
                  <span class = "opacity">
                  <!-----------------------------Check HERE--------------------------------------------------->
                  ر
                  </span>
                    رستوران فعال
                   <span id = "active2">
                   2452
                   </span>
                   </div>
                   </div>
                  </span>
                  </div>
                  <div class = "item-grid7-d"><img id = "img1" class ="margingoodfood"  src="../../assets/burger21.jpg" alt="buypacket">
                    <span class ="bottom-lefts  fontfood white transition margin-transition">
                    <div>
                    <span id = "f1">
                    ساندویچ
                    </span>
                    <br/>
                    <div class = "fontactive">
                    <span class = "opacity">
                    <!-----------------------------Check HERE--------------------------------------------------->
                    ر
                    </span>
                      رستوران فعال
                      <span id = "active1">
                      2746
                      </span>
                      </div>
                     </div>
                    </span>
                    </div>
            </div>
            <div class = "center fontmiddle">انتخاب غذا‌های بیشتر</div>
 <div class = "center">
 <button class = "buttonf fontmore" id = "f5">پاستا</button>
  <button class = "buttonf fontmore" id = "f6">سوخاری</button>
  <button class = "buttonf fontmore" id = "f7">فست فود</button>
  <button class = "buttonf fontmore" id = "f8">غذای ایرانی</button>
  <button class = "buttonf fontmore" id = "f9">سالاد</button>
  <button class = "buttonf fontmore" id = "f10">خوراک</button>
  <button class = "buttonf fontmore" id = "f11">غذای پلویی</button>
  <button class = "buttonf fontmore" id = "f12">خورشت</button>
  </div>
  <div class = "center">
      <button class = "buttonf fontmore" id = "f13">آبمیوه طبیعی</button>
       <button class = "buttonf fontmore" id = "f14">غذای دریایی</button>
       <button class = "buttonf fontmore" id = "f15">سوپ</button>
       <button class = "buttonf fontmore" id = "f16">صبحانه</button>
       <button class = "buttonf fontmore" id = "f17">بشقاب</button>
       <button class = "buttonf fontmore" id = "f18">استیک</button>
       <button class = "buttonf fontmore" id = "f19">ماهی</button>
       <button class = "buttonf fontmore" id = "f20">چلوکباب</button>
       </div>
       <div class = "grid-container9">
          <div class = "item-grid9-a">
           <div class = "white-box7">
         <div class = "grid-container10">
         <div class = "item-grid10-a"><img  src="../../assets/7.PNG" alt="buypacket"></div>
         <div></div>
         <div class = "item-grid10-c fontins gray">برای دریافت لینک دانلود اپلیکیشن ریحون، شماره موبایل خود را وارد کنید</div>
         <div class ="item-grid10-b fontsms">ریحون روی موبایل</div>
         <div class = "item-grid10-d">
         <form class="example margintopm" >
         <button class="sumbit2">sms دریافت لینک از طریق</button>
         <input class = "in2" type="text" placeholder="" name="search">
         </form>
         <div class = "alignr gray margintop5">
         دردسترس است
         ios
         و
         android
         اپلیکیشن ریحون برای 
         </div>
         </div>
         <div class = "item-grid10-e">
         <div class = "applew white-box8 inline"></div>
         <div class = "bazarw white-box8 inline"></div>
         <div class = "backgooglew white-box8 inline"></div>
         </div>
         <div class = "item-grid10-g">
         <div class = "androidw white-box8 inline"></div>
         </div>
         </div>
         
         </div>
         
         </div>
          </div>

          <app-footer></app-footer>         
          <router-outlet></router-outlet>
