
<div class = "footer">
    <div class = "fontfoot">
        مراقبت و محافظت از حساب کاربری و رمزعبور هر کاربر بر 
        <br/> 
        عهده کاربر است. ریحون سریعترین راه سفارش آنلاین غذا 
        <br/>
        ست. منوی عکس‌دار رستوران‌های اطرافتان را بر اساس مکان 
        <br/>
        خود به راحتی مشاهده کنید و سفارش دهید
        <br/>
        <div class = "blue">
        لیست رستوران‌ها
        </div>
      </div>
    <div class = "grid-container8">
    
    <div class = "item-grid8-d">
    <div class = "liney"></div>
    <ul class = "simple marginlst">
    <li class = "fontcontact">اپلیکیشن‌های موبایل</li>
    <li class = "fontcontact marginlst"><div class = "white-box6 backgoogle"></div></li>
    <li class = "fontcontact margintop5"><div class = "white-box6 backreyhoon"></div></li>
    <li class = "fontcontact margintop5"><div class = "white-box6 backbazar"></div></li>
    </ul>
    </div>
    <div class = "item-grid8-c">
    <div class = "linerr"></div>
    <ul class = "simple marginlst">
    <li class = "fontcontact">پشتیبانی ریحون</li>
    <li class = "marginlst gray">سوالات متداول</li>
    <li class = "margintop5 gray">تماس با پشیبانی</li>
    <li class = "margintop5 gray">قوانین و مقررات</li>
    </ul>
    </div>
    <div class = "item-grid8-b">
    <div class = "liner"></div>
    <ul class = "simple marginlst">
    <li class = "fontcontact">رستوران‌ها</li>
    <li class = "marginlst gray">ثبت رستوران</li>
    </ul>
    </div>
    <div class = "item-grid8-a">
    <div class = "linep"></div>
    <ul class = "simple marginlst">
    <li class = "fontcontact">تماس با ریحون</li>
    <li class = "marginlst gray">درباره ریحون</li>
    <li class = "margintop5 gray">تماس با ما</li>
    <li class = "margintop5 gray"> وبلاگ ریحون</li>
    </ul>
  </div>
  
    </div>
    
    
    <div class = "center ">
    <img  src = "../../assets/internetjob.JPG" alt="buypacket">
    <img  class = "position" src = "../../assets/internet.JPG"   alt="buypacket">
    </div>
    </div>
    <div class = "footer2">
    <ul class = "left marginl50">
    <li class = "inline"><i class="fab fa-google-plus-g fontic marginl70 gray"></i></li>
    <li class = "inline"><i class="fab fa-instagram fontic marginl20 gray"></i></li>
    <li class = "inline"><i class="fab fa-twitter fontic marginl20 gray"></i></li>
    <li class = "inline"><i class="fab fa-facebook-f fontic marginl20 gray"></i></li>
    <li class = "inline"><i class="fab fa-telegram-plane fontic marginl20 gray"></i></li>
    <li class = "inline alignr gray">© 2017, Reyhoon, All Rights Reserved.</li>
    </ul>
    </div>